############################################################
# Snakemake
############################################################

.snakemake/

############################################################
# Pipeline outputs
############################################################

results/
logs/
benchmarks/
data_norm/
samples.tsv

############################################################
# Reference genome (DO NOT COMMIT)
############################################################

reference/annotation/
reference/genome/
reference/star_index

############################################################
# FASTQ / sequencing inputs & outputs
############################################################

*.fastq.gz
*.fastq
*.fq.gz
*.fq

############################################################
# Alignment outputs (STAR + samtools)
############################################################

*.bam
*.bai

# STAR logs + intermediate outputs
Log.out
Log.final.out
Log.progress.out
SJ.out.tab
ReadsPerGene.out.tab

############################################################
# MultiQC
############################################################

multiqc_report.html
multiqc_data/

############################################################
# FastQC
############################################################

*_fastqc.zip
*_fastqc.html
*_fastqc/

############################################################
# fastp
############################################################

*.fastp.json
*.fastp.html

############################################################
# RSeQC
############################################################

*.read_distribution.txt
*.infer_experiment.txt

############################################################
# SLURM logs
############################################################

slurm-*.out
*.err

############################################################
# Python / Snakemake runtime artifacts
############################################################

__pycache__/
*.pyc

############################################################
# OS / editor noise
############################################################

.DS_Store
.vscode/
.idea/
*.swp
